@page
@model PhotoGallery.DAL.Presentation.Pages.Users.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.NormalizedUserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.NormalizedUserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.NormalizedEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.NormalizedEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.EmailConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.EmailConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PasswordHash)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PasswordHash)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.SecurityStamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.SecurityStamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.ConcurrencyStamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.ConcurrencyStamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PhoneNumberConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PhoneNumberConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.TwoFactorEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.TwoFactorEnabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LockoutEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LockoutEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LockoutEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LockoutEnabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.AccessFailedCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.AccessFailedCount)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="User.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
